* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(images/fanshawe_wallpaper.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: monospace, sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.wrap {
    width: 60%;
    text-align: center;
    background-color: #f7f5f5;
    display: block;
    text-align: center;
    border-radius: 25px;
    padding: 1rem;
}

.child {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
}

textarea {
    resize: none;
}

#targetURL {
    text-align: center;
    padding: 0.1rem;
    font-size: 20px;
}

button {
    font-size: 1.5em;
    padding: 0.1rem;
    width: 100%;
}

footer {
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

footer a {
    color: white;
}

#logo {
    width: 74px;
}

#logo-div {
    text-align: center;
    margin-top: 2vh;
}

#error {
    background-color: #d42621;
    color: white;
    font-weight: bold;
    padding: 0.6rem;
}

#resultTxtCopyRes {
    display: none;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.6rem;
    margin-top: 0.5rem;
}

/* loading dots*/
@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0.25;
        transform: scale(0.75);
    }
}

.spinner-box {
    font-weight: bold;
    color: #d42621;
    margin-top: 40px;
}

.pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df211c;
}

.pulse-bubble-1 {
    animation: pulse 0.4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse 0.4s ease 0.2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse 0.4s ease 0.4s infinite alternate;
}
